body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #1a1814;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
    background-color: #f7f5f2;
}
header{
    position: sticky;
    top: 0px;
    left: 0px;
    background: rgba(247,245,242, 0.92);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid #e2ddd6;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.logo{
    margin-right: auto;
}
.logo img{
height: 40px;
width: auto;
}

nav a,
#contact a,
#about a {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    color: darkblue;
    transition: color 0.2s ease;
    text-transform: uppercase;
}

nav a:hover,
#about a:hover,
#contact a:hover,
footer a:hover {
    color: cornflowerblue;
}

nav a{
    text-decoration: none;
}

#video{
    text-align: center;
}

#video h2{
    margin-bottom: 80px;
}

video{
    display: block;
    margin: auto;
}

#home,
#video{
    margin: 50px;
}

#home{
    padding: 8rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 80px 150px;
    gap: 60px;
}
    
.intro {
    flex: 1;

}

.intro h2{
    margin: 0 0 1rem 0;
}

.intro p{
    margin: 0;
}

#home img {
    width: 350px;
    height: auto;
    object-fit: cover;
    /*flex-shrink: 0;*/
    border-radius: 8px;
}

footer{
    background: #1a1814;
    color: #ffffff;
    padding: 2rem;
}

footer a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

@media (max-width:768px){
    
#home{
    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem;
}
.intro{
    align-items: center;
}
    
#home img{
    width: 220px;
}
    
nav{
    flex-wrap: wrap;
}

}

